body{
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(135deg,darkblue,rgb(49, 102, 122));
    min-height: 100vh;
    margin:0;
    padding:20px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width:90%;
    max-width:600px;
    backdrop-filter: blur(12px);
    background: rgba(255,255,255,0.1);
    padding:25px;
    border-radius: 25px;
    box-shadow: 0 80px 20px rgba(0,0,0,0.3) ;
}

.sub-card{
    background: rgba(255,255,255,0.12);
    padding: 12px;
    margin:12px 0;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    padding:8px;
    border-radius: 8px;
    border:none;
}

.calculate-btn:hover{
    background: #ffe88b;
}

.result{
    background: rgba(255,255,255,0.15);
    margin-top: 20px;
    padding: 20px;
    border-radius:12px ;
    text-align: center;
    font-size: 22px;
}

.footer{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
}

.sem-section{
    display: none;
}

#sem1{
    display: block;
}

.sem-buttons{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    gap:10px;
    margin-bottom: 20px;
}

.sem-buttons button{
    padding: 8px 14px;
    cursor: pointer;
    color:white;
    border: none;
    background: rgba(255,255,255,0.5);
    transition: all 0.3s ease;
    font-weight: 500;
    border-radius: 5px;
}

.sem-buttons button:hover{
    background: white;
    color: #1c2f6b;
}

.app-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.calc-GPA{
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align:center;
    padding: 10px 10px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    background : white;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #1c2f6b;
    font-weight: 500;
}

.calc-GPA:hover{
    transform: scale(1.05);
}

.add-GPA{
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align:center;
    padding: 10px 10px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    background : white;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #1c2f6b;
    font-weight: 500;
}

.add-GPA:hover{
    transform: scale(1.05);
}

.calc-CGPA{
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align:center;
    padding: 10px 10px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    background : white;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #1c2f6b;
    font-weight: 500;
}

.calc-CGPA:hover{
    transform: scale(1.05);
}

